<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Django</title>
    <link href="static/css/lib/themify-icons.css" rel="stylesheet">
    <link href="static/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="{% url 'dashboard'%}">
                        <!-- <img src="static/images/logo.png" alt="" /> --><span>Money Analyzer</span></a></div>
                    <li><a href="{% url 'dashboard'%}"><i class="ti-home"></i> Dashboard </li>
                    <li><a href="{% url 'upload'%}"><i class="ti-user"></i> Importar Transações</li>
                    <li><a href="{% url 'history'%}"><i class="ti-user"></i> Minhas Transações</li>
                    <li><a href="{% url 'profile'%}"><i class="ti-user"></i> Profile</a></li>
                    <li><a href="{% url 'logout'%}"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">

                        <div class="h2">
                            <br>
                            <h2>Detalhes da Transação</h2>
                        </div>
                        
                    </div>
                    <h6>Banco (Origem): {{operation.banco_origem}}</h6>
                    <h6>Agencia (Origem): {{operation.agencia_origem}}</h6>
                    <h6>Conta (Origem): {{operation.conta_origem}}</h6>
                    <h6>Banco (Destino): {{operation.banco_destino}}</h6>
                    <h6>Agencia (Destino): {{operation.agencia_destino}}</h6>
                    <h6>Conta (Destino): {{operation.conta_destino}}</h6>
                    <h6>Valor: {{operation.valor}}</h6>
                    <br>
                    <p>Transação executada em: {{operation.data_transacao}}</p>
                    <p>Transação enviada em: {{operation.data_upload}}</p>
                </section>
            </div>
        </div>
    </div>

</body>

</html>