<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Django</title>
    <link href="static/css/lib/themify-icons.css" rel="stylesheet">
    <link href="static/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="{% url 'dashboard'%}">
                            <!-- <img src="static/images/logo.png" alt="" /> --><span>Money Analyzer</span></a></div>
                    <li><a href="{% url 'dashboard'%}"><i class="ti-home"></i> Relatório </li>
                    <li><a href="{% url 'upload'%}"><i class="ti-user"></i> Importar Transações</li>
                    <li><a href="{% url 'history'%}"><i class="ti-user"></i> Minhas Transações</li>
                    <li><a href="{% url 'logout'%}"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <!-- /# row -->
                <section id="main-content">
                    <div class="h2">
                        <br>
                        <h2>Importar Transações</h2>
                    </div>

                    <form action="{% url 'newfile'%}" method="POST" enctype="multipart/form-data".>
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="submit" class="btn btn-outline-secondary">
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

</html>